// PRIMARY COLORS
$color-primary: #060b26;
$color-secondary: #1a83ff;

// HEADER & CONTRAST COLORS
$color-high-contrast: #fff;
$color-low-contrast: #a3a2a6;

// BACKGROUND, SURFACE, CARD COLORS
$color-background: #e7e7e7;
$color-card-background: #fafafa;

// FONT SIZES
$default-font-size: 1.6rem;
$card-title-font-size: 2.4rem;
$header-font-size: 3.2rem;
$project-title-font-size: 4rem;
$carousel-header-font-size: 4.8rem;

// SPACING
$spacer-0: .5rem;
$spacer-1: 1rem;
$spacer-2: 2rem;
$spacer-3: 4rem;
