<ng-container>
  <app-carousel
    *ngIf="carouselItems$ | async as carouselItems; else loadingRef"
    [carouselItems]="carouselItems"
  ></app-carousel>
  <app-products
    *ngIf="productList$ | async as productList; else loadingRef"
    [productList]="productList"
    (itemDelete)="onDelete($event)"
    (itemEdit)="onEdit($event)"
  ></app-products>
</ng-container>

<div class="form-container">
  <form class="contact" [formGroup]="form" (ngSubmit)="onFormSubmit()">
    <h3>Add a new product</h3>
    <input placeholder="Title" type="text" formControlName="title" />
    <textarea
      placeholder="Description"
      type="text"
      formControlName="description"
    ></textarea>
    <input placeholder="Price" type="number" formControlName="price" />
    <input placeholder="Image Url" type="text" formControlName="imageUrl" />

    <button
      class="button-submit"
      type="submit"
      [disabled]="form.invalid || form.pristine"
    >
      Submit
    </button>
  </form>
</div>

<ng-template #loadingRef>
  <app-loader></app-loader>
</ng-template>
