<nav class="nav">
  <input type="checkbox" id="nav-check" />
  <div class="nav-header">
    <div class="nav-title">VismaEcomm</div>
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>
  <div class="nav-links">
    <input
      type="text"
      class="nav-search--input nav-search--box"
      placeholder="Search..."
    />
    <button class="nav-search--button" type="button">Search</button>
    <a href="#">Login</a>
  </div>
</nav>
