<div *ngIf="carouselItems.length > 0" class="carousel">
  <div #slides class="slides" [style.left.%]="slidesLeftStyleValue">
    <figure *ngFor="let item of carouselItems" class="carousel-container">
      <a [href]="item.id">
        <img alt="slide image" [src]="item.imageUrl" />
        <figcaption class="carousel-text">{{ item.title }}</figcaption>
        <figcaption class="carousel-subtext">
          {{ item.description }}
        </figcaption>
      </a>
    </figure>
  </div>
  <div class="controls">
    <div class="control prev" (click)="slidePrevious()"></div>
    <div class="control next" (click)="slideNext()"></div>
  </div>
</div>
