@import "../../../../sass/abstracts/_variables.scss";

.form-container {
  max-width: 40rem;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.form {
  background: #f9f9f9;
  padding: 2.5rem;
  margin: 15rem 0;
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 0.5rem;
}

.form h3 {
  display: block;
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.form input {
  width: 100%;
  border: 1px solid #ccc;
  background: #fff;
  margin: 0 0 0.5rem;
  padding: 1rem;
}

.form textarea {
  width: 100%;
  max-width: 100%;
  resize: vertical;
  border: 1px solid #ccc;
  background: #fff;
  margin: 0 0 0.5rem;
  padding: 1rem;
}

.button-submit {
  display: block;
  width: 100%;
  color: $color-high-contrast;
  background-color: $color-secondary;
  height: 3rem;

  &:hover {
    background: $color-primary;
    transition: background-color 0.3s ease-in-out;
  }

  &:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
  }

  &:disabled {
    background-color: #ccc;
  }
}

.button-cancel {
  display: block;
  width: 100%;
  margin-right: 1rem;
  color: $color-high-contrast;
  background-color: rgba(255, 0, 0, 0.5);
  height: 3rem;

  &:hover {
    background: red;
    transition: background-color 0.3s ease-in-out;
  }

  &:active {
    box-shadow: inset 0 1px 3px;
  }
}

.buttons {
  display: flex;
  flex-direction: row;
  padding-top: 1rem;
}
