<ng-container *ngIf="carouselItems$ | async as carouselItems; else loadingRef">
  <div class="carousel" *ngIf="carouselItems.length > 0">
    <div #slides class="slides" [style.left.%]="slidesLeftStyleValue">
      <figure class="carousel-container" *ngFor="let item of carouselItems">
        <a [href]="item.id">
          <img [src]="item.imageUrl" alt="slide image" />
          <figcaption class="carousel-text">{{ item.title }}</figcaption>
          <figcaption class="carousel-subtext">
            {{ item.description }}
          </figcaption>
        </a>
      </figure>
    </div>
    <div class="controls">
      <div class="control prev" (click)="slidePrevious()"></div>
      <div class="control next" (click)="slideNext()"></div>
    </div>
  </div>
</ng-container>

<ng-template #loadingRef>
  <app-loader></app-loader>
</ng-template>
