@import "../../../../sass/abstracts/_variables.scss";

.spinner-container {
  width: 90%;
  max-width: 700px;
  margin: 1em auto;
  position: relative;
}

// spinner positioning
.spinner {
  position: absolute;
  top: 8rem;
  margin-left: -2.4rem;
  left: 50%;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid $color-primary;
  border-top: 4px solid $color-secondary;
  border-radius: 50%;
}

.spinner {
  transition-property: transform;
  animation-name: rotate;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
